body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

form {
  margin-bottom: 30px;
}

input[type="text"],
textarea {
  width: calc(100% - 20px); /* Adjusting width to account for padding */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: none; /* Disable resizing */
  height: 100px; /* Set a fixed height */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  color: #007bff;
}

p {
  font-size: 1em;
  color: #555;
}
